@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.mymenu .ant-menu-item .ant-menu-item-selected{
  background-color: red;
}
li.ant-menu-item.ant-menu-item-selected{
  background-color: red;
}

.ant-dropdown.css-dev-only-do-not-override-d2lrxs.ant-dropdown-placement-bottomLeft {
  width: 200px;
  color: white;
}
ul.ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical.ant-dropdown-menu-light.css-dev-only-do-not-override-d2lrxs {
  background-color: #E6533C;
  
}
span.ant-dropdown-menu-title-content {
  color: white;
  font-weight: bold;
}
span.anticon.anticon-home.ant-dropdown-menu-item-icon {
  color: white;
}
span.anticon.anticon-down.ant-dropdown-menu-item-icon {
  color: white;
}